<app-breadcrumb
  [title]="'AddNewUser' | translate"
  [items]="['Apps', 'User']"
  [active_item]="'Add New'"
></app-breadcrumb>
<!-- Container-fluid starts-->
<div class="container-fluid">
  <form class="theme-form" [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <div class="col-sm-12 py-2">
        <div class="card">
          <div class="card-body">
            <div class="form theme-form">
              <div class="row pt-2">
                <!-- <div class="col-12 form-group">
                                                               <div class="quick-info d-flex align-items-center">
                                                                      <div class="user-image">
                                                                             <img [src]="!form.get('logoForm').value || form.get('logoForm').value == 'data:image/png;base64,' ? 'assets/images/dashboard/avatarperson.png' : form.get('logoForm').value"
                                                                                    class="img-fluid" />
                                                                             <span class="custom-upload-input">
                                                                                    {{'ChangePic' | translate}}
                                                                                    <input #imageFile
                                                                                           (change)="onSelect(imageFile.files)"
                                                                                           type="file"
                                                                                           accept=".jpg,.jpeg,.png,.gif">
                                                                             </span>
                                                                      </div>
                                                               </div>
                                                        </div> -->
                <div class="col-12 py-3 form-group">
                  <div class="quick-info d-flex align-items-center">
                    <div class="user-image">
                      <img [src]="getImageSrc()" class="img-fluid" />
                      <span class="custom-upload-input">
                        {{ "ChangePic" | translate }}
                        <input
                          #imageFile
                          (change)="onSelect(imageFile.files)"
                          type="file"
                          accept=".jpg,.jpeg,.png,.gif"
                        />
                      </span>
                      <!-- <div class=" p-0 m-0"> -->
                      <i
                        class="fa fa-times cross-icon"
                        (click)="RemoveIamge()"
                      ></i>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>

                <div
                  class="col-12 col-md-4 form-group"
                  [style.direction]="direction"
                >
                  <div class="">
                    <h6>
                      {{ "SiteNameEn" | translate }}
                      <span
                        class="px-2"
                        style="color: red; font-weight: bold; font-size: 20px"
                        >*</span
                      >
                    </h6>
                    <input
                      pInputText
                      formControlName="nameEn"
                      class="form-control"
                      type="text"
                      placeholder="{{ 'SiteNameEn' | translate }}"
                      [style.direction]="direction"
                    />
                    <app-print-error
                      [control]="form.get('nameEn')"
                    ></app-print-error>
                  </div>
                </div>
                <div
                  class="col-12 col-md-4 form-group"
                  [style.direction]="direction"
                >
                  <div class="">
                    <h6>
                      {{ "SiteNameAr" | translate }}
                      <span
                        class="px-2"
                        style="color: red; font-weight: bold; font-size: 20px"
                        >*</span
                      >
                    </h6>
                    <input
                      pInputText
                      formControlName="nameAr"
                      class="form-control"
                      type="text"
                      placeholder="{{ 'SiteNameAr' | translate }}"
                      [style.direction]="direction"
                    />
                    <app-print-error
                      [control]="form.get('nameAr')"
                    ></app-print-error>
                  </div>
                </div>
                <div
                  class="col-12 col-md-4 form-group"
                  [style.direction]="direction"
                >
                  <div class="">
                    <h6>
                      {{ "Password" | translate }}
                      <span
                        class="px-2"
                        style="color: red; font-weight: bold; font-size: 20px"
                        >*</span
                      >
                    </h6>
                    <p-password
                      formControlName="password"
                      type="password"
                      [toggleMask]="true"
                      placeholder="{{ 'Password' | translate }}"
                      [style.direction]="direction"
                    ></p-password>
                    <app-print-error
                      [control]="form.get('password')"
                    ></app-print-error>
                  </div>
                </div>
                <div
                  class="col-12 col-md-4 py-4 form-group"
                  [style.direction]="direction"
                >
                  <div class="">
                    <h6>
                      {{ "mobile" | translate }}
                      <span
                        class="px-2"
                        style="color: red; font-weight: bold; font-size: 20px"
                        >*</span
                      >
                    </h6>
                    <input
                      pInputText
                      formControlName="mobile"
                      class="form-control"
                      type="text"
                      placeholder="{{ 'mobile' | translate }}"
                      [style.direction]="direction"
                    />
                    <app-print-error
                      [control]="form.get('mobile')"
                    ></app-print-error>
                  </div>
                </div>
                <div
                  class="col-12 col-md-4 py-4 form-group"
                  [style.direction]="direction"
                >
                  <div class="">
                    <h6>
                      {{ "email" | translate }}
                      <span
                        class="px-2"
                        style="color: red; font-weight: bold; font-size: 20px"
                        >*</span
                      >
                    </h6>
                    <input
                      pInputText
                      formControlName="email"
                      class="form-control"
                      type="text"
                      placeholder="{{ 'email' | translate }}"
                      [style.direction]="direction"
                    />
                    <app-print-error
                      [control]="form.get('email')"
                    ></app-print-error>
                  </div>
                </div>
                <div
                  class="col-12 col-md-4 py-4 form-group"
                  [style.direction]="direction"
                >
                  <div class="">
                    <h6>
                      {{ "Customer" | translate }}
                      <span
                        class="px-2"
                        style="color: red; font-weight: bold; font-size: 20px"
                        >*</span
                      >
                    </h6>
                    <p-dropdown
                      class="basic"
                      [options]="Customers"
                      [filter]="true"
                      formControlName="customerId"
                      optionValue="id"
                      optionLabel="nameAr"
                      appendTo="body"
                      placeholder="{{ 'SelectCustomer' | translate }}"
                      [style.direction]="direction"
                    ></p-dropdown>

                    <app-print-error
                      [control]="form.get('customerId')"
                    ></app-print-error>
                  </div>
                </div>

                <!-- profile Image -->
                <!-- <div class="col-12 col-md-9 py-3 form-group"
                                                               [style.direction]="direction">
                                                               <h6>{{ "ProfileImage" | translate }}</h6>
                                                               <p-fileUpload name="demo[]" (onSelect)="onSelect($event)"
                                                                      formControlName="logoForm" [multiple]="false"
                                                                      accept="image/*" maxFileSize="1000000">
                                                                      <ng-template pTemplate="content">
                                                                             <ul *ngIf="uploadedFiles.length">
                                                                                    <li
                                                                                           *ngFor="let file of uploadedFiles">
                                                                                           {{file.name}} - {{file.size}}
                                                                                           bytes</li>
                                                                             </ul>
                                                                      </ng-template>
                                                               </p-fileUpload>
                                                        </div> -->
                <!-- <div
                                                               class="col-12 col-md-3 d-flex justify-content-center align-items-center">


                                                               <div *ngIf="form.get('iD').value !=0">
                                                                      <img [src]="!form.get('logoBase64').value || form.get('logoBase64').value == 'data:image/png;base64,' ? 'assets/images/dashboard/avatarperson.png' : form.get('logoBase64').value"
                                                                             class="img-style">
                                                               </div>
                                                        </div> -->
              </div>
              <!-- Actions  -->
              <div class="row pt-3 mt-3">
                <div class="col">
                  <div class="text-end">
                    <button
                      type="submit"
                      class="btn btn-success me-3"
                      [disabled]="form.invalid"
                    >
                      {{ "Save" | translate }}
                    </button>
                    <button
                      type="button"
                      class="btn btn-danger"
                      (click)="Back()"
                    >
                      {{ "Cancel" | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
