.custome-basic {
    margin-top: 10px;
    margin-bottom: 10px;
   }
   
   .font-bold {
    font-weight: bold;
   }
   
   .user-profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
   }
   
   .icon {
    font-size: 23px;
    cursor: pointer;
    font-weight: bold;
   }
   .icon-edit {
    color: green;
   }
   
   .icon-delete {
    color: darkred;
   }
   .search {
      position: relative;
   }
   
   .cross {
      position: absolute;
      right: 25px;
      top: 15px;
      color: darkred;
      font-weight: bold;
      font-size: 22px;
      cursor: pointer;
   }
   
   .gray {
    background-color: gray !important;
 }
 